<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>163270521083-jqee8m971l98q7tgq84v7mng2g05f0ge.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.163270521083-jqee8m971l98q7tgq84v7mng2g05f0ge</string>
	<key>API_KEY</key>
	<string>AIzaSyD-GTHJJtyBZhzxf10TkHxzdMGz9j1mY-s</string>
	<key>GCM_SENDER_ID</key>
	<string>163270521083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wecare</string>
	<key>PROJECT_ID</key>
	<string>wecare-e525e</string>
	<key>STORAGE_BUCKET</key>
	<string>wecare-e525e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:163270521083:ios:ce04ed8b3d8cba3e71005e</string>
</dict>
</plist>